select#VisitingHours_idClinic {
    width: 100%;
}
#VisitingHours_day {
    width: 100%;
}
#VisitingHours_timeFrom {
    width: 80%;
}
#VisitingHours_timeTo {
    width: 80%;
}
#box-hours {
    width: 60%;
}
select#AddInfo_idClinic {
    width: 100%;
}
#AddInfo_name {
    width: 100%;
}
#AddInfo_value {
    width: 100%;
}
select#ClinicMedia_idClinic {
    width: 100%;
}
#ClinicMedia_type {
    width: 100%;
}
#ClinicMedia_name {
    width: 100%;
}
#ClinicMedia_src {
    width: 100%;
}
.invisible {
    display: none;
}
#Doctor_idClinic {
    width: 100%;
}
select#Doctor_idClinic {
    width: 100%;
}
#Infohub_header {
    width: 100%;
}
#Infohub_link {
    width: 100%;
}
#SpecialProject_link {
    width: 100%;
}
#News_header {
    width: 100%;
}
#Diseases_button>input {
    width: 95%;
}
#DirectionsDiseases_name {
    width: 100%;
}
#directions_btn>input {
    width: 95%;
}
#Diseases_name {
    width: 100%;
}