button {
    background-color: #000 !important;
    color: #FFF !important;
    padding: 1px 5px 3px !important;
    width: 105% !important;
    line-height: 1 !important;
    font-size: 18px !important;
    text-align: left !important;
    border-radius: 5px !important;
    border: none !important;
    font-size: 22px!important;
}

div.search-btn,input.search-btn {
    background-color: #000 !important;
    color: #FFF !important;
    line-height: 1 !important;
    /*font-size: 20pt !important;*/
    border-radius: 5px !important;
    border: 1px solid #FFF;
}

.search-btn {
    width: 80% !important;
    text-align: center !important;
    padding: 7px 0px !important;
    position: relative;
    border: 1px solid #FFF!important;
}

.search-btn.item-active{
    background-color:#FFF!important;
    color:#000!important;
    border:1px solid #000!important;
}

.search-btn i{
    position: absolute;
}

div.white-btn{
    background-color:#FFF!important;
    color:#000!important;
    border:1px solid #000 !important;
}

#buttonToNormalVersion{
    /*font-size: 18pt !important;*/
    width: 80% !important;
}

@media(max-width:767px){
    #buttonToNormalVersion {
        width: 80% !important;
        margin-left: 70px;
    }
}

.main-menu{
    text-align: center;
    font-size: 20pt;
    margin: 30px 0px 10px;
}

.main-menu span{
    cursor:pointer;
}

hr{
    width: 106%;
    border: 1px solid #000;
    margin: 0px -3% 15px;
}

.footer{
    margin: 30px 0px 10px;
}

.footer > div{
    padding:0px;
}

.container{
    width: 1000px!important;
    position: relative;
}

#regToDoctorBlack {
    font-family: MyriadCondBold;
    width: 152px;
    line-height: 1.1;
    margin-top: 2px;
    font-weight: 700;
    margin-left: 0px;
    margin-right: 10px;
}

@media (max-width: 991px) {
    .container {
        width: 800px !important;
    }

    .search-btn {
        width:85%!important;
    }

    .btn-xs-margin-left{
        margin-left: 25px;
    }

    .btn-xs-margin-right{
        margin-right: 25px;
    }
    #metro{
        width:88%;
        margin-left:48px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 700px !important;
    }

    .search-btn {
        width:95%!important;
    }

    .btn-xs-margin-right{
        margin-left: -15px;
    }
    #metro{
        margin-left:42px;
    }
}

.main-input {
    width: 88%;
    margin: 15px 0px 15px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20pt;
    padding-left: 5px;
    border-radius:5px;
}

.main-input2 {
    width: 105%;
    margin: 15px 0px 15px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20pt;
    padding-left: 5px;
    border-radius:5px;
}

select{
    background-image: url('/assets/images/select-arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#input-search{
    height:55px;
    font-size: 28px;
    margin: 10px 0px 15px;
    padding-left: 10px;
}

.text-center{
    text-align:center;
}

h1{
    font-size: 22pt;
    text-decoration:underline;
    margin:10px 0px;
    cursor:pointer;
}

h1 img{
    width:40px;
    margin-right:10px;
}

a{
    color:#000;
}

a:hover, a:focus{
    color:#000;
}

ul{
    padding:0px;
    list-style:none;
    font-size:18pt;
}

#age-region {
    margin: 5px 0px;
    display: inline-block;
}

/*
#show-doctor, #show-clinic, #show-nurse{
    display:none;
}
*/

.login-buttons button, .login-buttons input {
    width:37%!important;
}

.registration-button{
    width: 50% !important;
    margin-left: -218px;
    font-size: 20pt !important;
}

@media(max-width:991px) {
    .login-buttons button, .login-buttons input {
        width:42%!important;
    }
    .registration-button{
        width: 50% !important;
        margin-left: -240px;
    }
}

@media(max-width:767px) {
    .registration-button{
        width: 60% !important;
        margin-left: -158px;
    }
}

label.indent{
    margin:0px 0px 5px !important;
}

label[for^="Nurse_food_"].indent::before, label[for^="Nurse_residence_"].indent::before{
    margin:0px 10px 0px 0px!important;
    width:20px;
    height:20px;
    top:5px;
}

input[id^="Nurse_residence"]:checked + label[for^="Nurse_residence_"]::before,
input[id^="Nurse_food"]:checked + label[for^="Nurse_food_"]::before{
    width:20px;
    height:20px;
    top:5px;
}

.fieldInput::-webkit-input-placeholder, .main-input::-webkit-input-placeholder{
    color:#000!important;
}
.fieldInput::-webkit-input-placeholder, .main-input::-moz-placeholder{
    color:#000!important;
}
.fieldInput::-webkit-input-placeholder, .main-input:-moz-placeholder{
    color:#000!important;
}
.fieldInput::-webkit-input-placeholder, .main-input:-ms-input-placeholder{
    color:#000!important;
}
.fieldInput[placeholder], .main-input[placeholder]{
    color:#000!important;
}

i.fa{
    font-size:18px;
    top:50%;
    margin-top:-9px;
}

.order{
    line-height: 1.2;
    margin-left: -60px;
    color: rgb(0, 0, 0);
}

.phoneNumber {
    margin-left: -20px;
}

.order .phoneIcon{
    position: absolute;
    margin-left: -30px;
    margin-top: 4px;
    width: 25px;
}

@media(max-width:991px){
    .order{
        margin-left:-45px;
    }
    .phoneNumber{
        margin-left: -45px;
    }
}

label{
    font-size:20pt!important;
}

.userInformationHead1{
    font-size:20pt;
}

.fieldInput{
    font-size:20pt;
}
/*description in block that comes from search*/
.search-description{
    font-size:20pt;
}
/*error in fields of form*/
.text-red{
    color:#000;
    font-size:20pt;
}
/*reviews in search's block*/
.search-reviews{
    font-size:20pt;
}

.search-reviews p{
    margin-bottom:10px;
}

#ticket-label-find{
    font-size: 20pt;
    line-height: 1.5;
}

@media(max-width:1200px) {
    #ticket-label-find {
        font-size:18pt;
    }
}

@media(max-width:991px) {
    #ticket-label-find {
        font-size:16pt;
    }
}

.fieldInput {
    width: 80%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    line-height:1.2;
    color: #000;
}

@media(max-width:1200px){
    .fieldInput{
        width:80%;
    }
}

@media(max-width:991px){
    .fieldInput{
        width:85%;
    }
}

.indent-left {
    padding-left:30px;
}

.search-block{
    border:2px solid #000;
}

.userInformationHead1{
    color:#000;
    font-size:20pt;
}

.userInformationHead2{
    color:#000;
}

.search-block a, .search-block-vip a{
    color:#000;
    font-size: 20pt;
}

.search-block p{
    font-size:18pt;
}

.margin-left-30{
    margin-left:30px;
}

@media(max-width:1200px){
    .search-block p{
        font-size:16pt;
    }
    .margin-left-30{
        margin-left:5px;
    }
}

@media(max-width:991px){
    .margin-left-30{
        margin-left:0px;
    }
}

#buttonSettings {
    margin-top: 5px;
    width: 80% !important;
    font-size: 18pt !important;
    background-color: #FFF !important;
    color: #000 !important;
    border: 1px solid #000 !important;
    padding-left: 68px !important;
    position: relative;
    outline: none;
}

#buttonSettings i{
    position: absolute;
    left: 50px;
}

#block-settings{
    position: absolute;
    background-color: #FFF;
    width: 543px;
    height: 125px;
    right: 43px;
    top: 65px;
    border: 1px solid #000000;
    border-radius: 7px;
    z-index: 1;
    display: none;
    padding: 10px;
    padding-top: 0px;
}

#block-settings .color-preview{
    width: 40px;
    height: 22px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    cursor: pointer;
}

/*small font size*/
.smallFontSize{
    font-size: 16pt!important;
}
div.search-btn.smallFontSize,button.search-btn.smallFontSize{
    font-size: 16pt!important;
}
#regToDoctorBlack.smallFontSize{
    font-size:13pt;
}
h1.smallFontSize{
    font-size: 18pt;
}
ul.smallFontSize{
    font-size: 16pt;
}
.footer-date.smallFontSize{
    font-size: 7pt;
}
#buttonToNormalVersion.smallFontSize{
    font-size:14pt!important;
    text-align: center!important;
}
#buttonSettings.smallFontSize{
    font-size:14pt!important;
}
.numberReviews.smallFontSize{
    font-size: 18pt!important;
}
.reviewLabel.smallFontSize{
    font-size: 14pt!important;
}
.search-reviews .button1.smallFontSize{
    font-size: 13px!important;
}
/**/
/*middle font size*/
.middleFontSize{
    font-size: 20pt!important;
}
div.search-btn.middleFontSize,button.search-btn.middleFontSize{
    font-size: 20pt!important;
}
#regToDoctorBlack.middleFontSize{
    font-size:17pt;
}
h1.middleFontSize{
    font-size: 22pt;
}
ul.middleFontSize{
    font-size: 18pt;
}
.footer-date.middleFontSize{
    font-size: 11pt;
}
#buttonToNormalVersion.middleFontSize,#buttonSettings.middleFontSize{
    font-size:18pt!important;
}
.numberReviews.middleFontSize{
    font-size: 22pt!important;
}
.reviewLabel.middleFontSize{
    font-size: 18pt!important;
}
.search-reviews .button1.middleFontSize{
    font-size: 17px!important;
}
/**/
/*big font size*/
.bigFontSize{
    font-size: 22pt!important;
}
div.search-btn.bigFontSize,button.search-btn.bigFontSize{
    font-size: 22pt!important;
}
#regToDoctorBlack.bigFontSize{
    font-size:19pt;
}
h1.bigFontSize{
    font-size: 24pt;
}
ul.bigFontSize{
    font-size: 20pt;
}
.footer-date.bigFontSize{
    font-size: 13pt;
}
.order.bigFontSize{
    margin-left: -90px;
}
.phoneNumber.bigFontSize{
    margin-left: -60px;
}
#buttonToNormalVersion.bigFontSize,#buttonSettings.bigFontSize{
    font-size:20pt!important;
    width: 87% !important;
}
.numberReviews.bigFontSize{
    font-size: 24pt!important;
}
.reviewLabel.bigFontSize{
    font-size: 20pt!important;
}
.search-reviews .button1.bigFontSize{
    font-size: 19px!important;
}

#buttonToNormalVersion.blackInvertMode{
    color:#000!important;
    background-color:#FFF!important;
}
#buttonToNormalVersion.whiteInvertMode{
    color:#FFF!important;
    background-color:#000!important;
}

#buttonSettings.blackInvertMode{
    color:#FFF!important;
    background-color:#000!important;
}
#buttonSettings.whiteInvertMode{
    color:#000!important;
    background-color:#FFF!important;
}

#interval-standard, #interval-big{
    cursor: pointer;
}