@import url(http://fonts.googleapis.com/css?family=Roboto:500&subset=cyrillic,cyrillic-ext,latin);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin,cyrillic-ext);

html, body{
	margin:0px;
	padding:0px;
}

body{
	min-width:1000px;
	background-color: rgb(31,81,36);
}

#logo{
	margin:0px auto;
	background-image: url('../images/header2.png');
	width: 84%;
	background-size: 100% auto;
	height: 355px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;
	opacity: 0.99;
}

#main-block{
	background-color: #E6E5E5;
	height: 1400px;
	z-index: -2;
	width: 84%;
	position: absolute;
	margin-left: 8%;
	top: 0;
}

#shadow-left{
	position: absolute;
	top: 0px;
	width: 60px;
	height: 1400px;
	background: transparent url("../images/shadow-left1.png") repeat scroll 0% 0% / 100% auto;
	left: 3px;
}

#shadow-right{
	position: absolute;
	top: 0px;
	width: 60px;
	height: 1400px;
	background: transparent url("../images/shadow-left1.png") repeat scroll 0% 0% / 100% auto;
	left: 100%;
	transform: scale(-1, 1);
	margin-left: -63px;
}

#hello{
	margin-top:-25px;
}

.text-head, .text-content{
	width:670px;
	margin: 0px auto;
	text-align: center;
}

.text-head{
	font-size: 22px;
	color: rgb(191,13,13);
	font-family: 'Roboto', sans-serif;
}

.text-head2{
	margin: 25px auto 0px 5px;
	display: inline-block;
	width: 100%;
}

.text-content{
	font-size: 18px;
	color: rgb(127,49,7);
	font-family: 'Roboto Condensed', sans-serif;
}

#substrate1{
	width: 800px;
	margin: 20px auto 0px;
	display: block;
	background: transparent url("../images/substrate1.png") repeat scroll 0% 0%;
	height: 275px;
	background-size: cover;
}

#substrate2{
	position: absolute;
	z-index: -1;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	top: 40px;
	height: 1360px;
}

#substrate3{
	width: 800px;
	margin: -5px auto 0px;
	display: block;
	background: transparent url("../images/substrate3.png") repeat scroll 0% 0%;
	height: 120px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#birds{
	width: 550px;
	margin: 50px auto 0px;
	font-size: 22px;
	color: rgb(103,103,103);
	font-family: 'Roboto', sans-serif;
}

.bird{
	width: 150px;
	height: 230px;
	margin-right: 30px;
	display: inline-block;
}
.bird:last-child{
	margin-right: 0px;
}

.bird-line{
	width: 2px;
	height: 300px;
	background-color: #AAA;
	display: inline-block;
	position: absolute;
	margin-top: 10px;
}

.bird-name{
	width: 150px;
	height: 57px;
	text-align: center;
	background-color: #FFF;
	padding-top: 5px;
}

.button-buy{
	background-image: url("../images/button-buy.png");
	width: 145px;
	text-align: center;
	height: 41px;
	padding-top: 8px;
	background-size: cover;
	color: #FFF;
	font-size: 20px;
	cursor:pointer;
}

#bird1-pic{
	margin-top: 50px;
	width: 120px;
	margin-left: 15px;
}

#bird2-pic{
	width: 145px;
	margin-left: 0px;
	margin-top:25px;
}

#bird3-pic{
	width: 150px;
	margin-left: -2px;
	margin-top: 20px;
}

#venzel-bottom{
	width: 1000px;
	margin: 20px auto;
	display: block;
}

#block-for-shadow{
	z-index: 1;
	width: 1000px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	height: 1px;
	top: 0px;
}

.shadow2{
	position: absolute;
	z-index: -1;
	top: 175px;
	width: 80px;
	opacity: 0.3;
	left: 50%;
}

#tracery{
	top: 0px;
	position: absolute;
	width: 233px;
	opacity:0;
}

#layout{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 3;
	position: fixed;
	display:none;
}

#modal-window{
	position: fixed;
	width: 600px;
	height: 450px;
	background-color: #EAE9E9;
	left: 50%;
	margin-left: -300px;
	top: 50%;
	margin-top: -175px;
	z-index: 3;
	border-radius: 20px;
	display:none;
}

#modal-head{
	background-image: url("../images/modal-head.png");
	width: 100%;
	height: 50px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -7px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	font-family: "Roboto",sans-serif;
	padding-top: 10px;
}

#modal-close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 25px;
}

form{
	padding-top:10px;
}

.modal-input1{
	margin: 0px auto;
	border: 2px solid rgb(183, 183, 183);
	border-radius: 5px;
	height: 25px;
	display: block;
	width: 70%;
	background-color: transparent;
	padding-left: 5px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
   	font-size: 16px;
}

.modal-input2{
	border: 2px solid #B7B7B7;
	border-radius: 5px;
	height: 25px;
	width: 33%;
	background-color: transparent;
	padding-left: 5px;
	font-family: "Roboto",sans-serif;
	font-size: 16px;
	margin: 0% 0px 0px 14%;
}

.modal-input3{
	border: 2px solid #B7B7B7;
	border-radius: 5px;
	height: 25px;
	width: 15%;
	background-color: transparent;
	padding-left: 5px;
	font-family: "Roboto",sans-serif;
	font-size: 16px;
}

::-webkit-input-placeholder {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

:-ms-input-placeholder {  
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

.modal-text{
	font-family: "Roboto condensed",sans-serif;
	font-size: 18px;
	width: 68%;
	margin: 20px auto 10px;
	color:rgb(85,85,85);
}

#point{
	background-image: url("../images/point.png");
	width: 215px;
	height: 12px;
	margin: 0px auto;
}

#submit{
	width: 100%;
	height: 56px;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 18px;
	font-family: "Roboto",sans-serif;
	padding-top: 10px;
	border: medium none;
	color: #FFF;
	background-size: 100% auto;
	background-image: url("../images/modal-button.png");
	background-color: unset;
	margin-top: 10px;
}

#ask{
	position: absolute;
	background-image: url("../images/button-vertical.png");
	width: 230px;
	height: 41px;
	background-size: 100% 100%;
	left: 50%;
	margin-left: -590px;
	z-index: 2;
	margin-top: 110px;
	transform: rotate(270deg);
	background-repeat: no-repeat;
	color: #DDD;
	font-family: "Roboto",sans-serif;
	text-align: center;
	font-size: 24px;
	padding-top: 7px;
	cursor: pointer;
}