.ratingStarsView img.activeStar, .ratingStarsView svg.activeStar {
    /*background-image: url('../images/star1.png');*/
}

.ratingStarsView img.hoverStar, .ratingStarsView svg.hoverStar {
    border: 1px solid #db8b0b;
}

.ratingStarsView img, .ratingStarsView svg {
    /*background-image: url('../images/star2.png');*/
    width: 19px;
    height: 19px;
    display: inline-block;
}

.ratingStarsView {
    cursor: pointer;
}