.yiiPager{
    margin:0 auto;
    width:250px;
    height:50px;
}

.yiiPager li {
    list-style-type: none;
    float: left;
    margin-left: 25px;
}

.yiiPager ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}