.panel-heading.text-center {
    background: rgb(60, 141, 188);
    background: -moz-linear-gradient(top, rgba(60, 141, 188, 1) 0%, rgba(34, 45, 50, 1) 51%, rgba(60, 141, 188, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(60, 141, 188, 1)), color-stop(51%, rgba(34, 45, 50, 1)), color-stop(100%, rgba(60, 141, 188, 1)));
    background: -webkit-linear-gradient(top, rgba(60, 141, 188, 1) 0%, rgba(34, 45, 50, 1) 51%, rgba(60, 141, 188, 1) 100%);
    background: -o-linear-gradient(top, rgba(60, 141, 188, 1) 0%, rgba(34, 45, 50, 1) 51%, rgba(60, 141, 188, 1) 100%);
    background: -ms-linear-gradient(top, rgba(60, 141, 188, 1) 0%, rgba(34, 45, 50, 1) 51%, rgba(60, 141, 188, 1) 100%);
    background: linear-gradient(to bottom, rgba(60, 141, 188, 1) 0%, rgba(34, 45, 50, 1) 51%, rgba(60, 141, 188, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c8dbc', endColorstr='#3c8dbc', GradientType=0);
}

.panel-default > .panel-heading {
    color: #FFF;
    background-color: #f5f5f5;
    border-color: #ddd;
}
i.fa.fa-plus.blue:hover {
    color: #3C8DBC;
    cursor: pointer;
}
i.fa.fa-trash-o.red:hover {
    color: red;
}
.send {
    margin-top: 0px !important;
}

img.Good_image {
    width: 100%;
    margin: 10px;
}

div#goods-grid {
    text-align: center;
}
.col-xs-3.text-center.name_stolb {
    font-size: 22px;
    margin-top: 31px;
    margin-bottom: 25px;
}
.col-xs-3.text-center.wekDay.text-center {
    width: 12.9%;
}
th {
    text-align: center;
}

div#types-grid {
    text-align: center;
}

input.btn.btn-primary {
    margin-top: 15px;
}

.stat a {
    color: white;
}
.stat a:hover {
    color: yellow;
}

table.detail-view tr.odd {
    background: #F8F8F8 !important;
}
.col-xs-1.wekDay {
    width: 13%;
    margin-top: 7px;
}
.col-md-12.text-center {
    margin-top: 19px;
}
.stat {
    margin-top: 11px;
    padding: 2px !important;
    border-radius: 0px;
}
.filters input,
.filters select {
    display: block;
    width: 100%;
    text-align: center;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    text-align: center;
}


.btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
    position: absolute;
    margin: 10px;
    height: pa;
    font-size: 11px;
    padding: 2px;
}

table#yw0 {
    margin: 0 auto;
}

.col-xs-4.headDetail.text-center {
    font-size: 22px;
    margin-bottom: 12px;
}

i.fa.fa-times-circle.red {
    padding-top: 10px;
}

.col-xs-3.GoodDetail.red {
    padding-top: 7px;
    cursor: pointer;
}

.col-xs-3.GoodDetail {
    text-align: center;
}

.headDetail {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 9px;
}

.red:hover {
    color: red;
}
.col-md-1.text-center {
    margin-top: 13px;
    line-height: 23px;
}
input.btn.btn-primary.renameDetail {
    margin-bottom: 20px;
}

.content.login {
    margin-top: 17%;
}

.col-md-4.col-md-offset-4.formLogin {
    margin-top: 11%;
}

a.btn.btn-danger.square-btn-adjust {
    margin-left: -32px;
    background-color: red;
    color: white;
    margin-top: 13px;
}

.col-xs-3.text-center.name_stolb {
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(60, 141, 188, 0.64);
    margin-bottom: 14px;
}

.box-header.with-border.name_block {
    font-size: 28px;
    text-align: center;
    margin-bottom: 22px;
    /* font-weight: 700; */
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #82B6D4 !important;
}

.col-xs-3.text-center {
    margin-bottom: 15px;
}

.class.col-md-12.note {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

hr {
    margin-top: 44px !important;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #3C8DBC !important;
}

.col-md-12.checklist {
    text-align: center;
    margin-bottom: 30px;
}

i.fa.fa-trash-o.red {
    margin-top: 9px;
    cursor: pointer;
}

button.multiselect.dropdown-toggle.btn.btn-default {
    width: 179px;
    margin-top: 16px;
    margin-right: 20px;
}

.week {
    min-width: 14%;
}

.col-md-12.line {
    background-color: #3C8DBC;
    margin-top: 29px;
    margin-bottom: 36px;
    height: 2px;
}